@model IEnumerable<Client>
@{ 
    ViewData["Title"] = "Table 'Clients'";
}
<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
    .styled-table thead tr {
        background-color: darkcyan;
        color: #ffffff;
        text-align: left;
    }
    .styled-table th,
    .styled-table td {
        padding: 12px 15px;
    }
    .styled-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }
    .styled-table tbody tr:nth-of-type(even) {
        background-color: antiquewhite;
    }
    .styled-table tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
</style>
<body align="center">
    <div align="center">
        <h1>@ViewData["Title"]</h1>
        <table border="1" class="styled-table">
            <thead>
                <tr>
                    <td>FIO</td>
                    <td>Gender</td>
                    <td>Phone</td>
                    <td>dateOfBirth</td>
                    <td>Adress</td>
                    <td>Serial Number</td>
                    <td>Residence</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in Model)
                {
                    <tr>
                        <td>@client.Surname @client.Name @client.MiddleName</td>
                        <td>@client.Gender</td>
                        <td>@client.Phone</td>
                        <td>@client.DateOfBirth</td>
                        <td>@client.Adress</td>
                        <td>@client.SerialNumber</td>
                        <td>@client.Residence</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>


