@model IEnumerable<Policy>
@{
    ViewData["Title"] = "Table 'Policies'";
}
<style>
    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

        .styled-table thead tr {
            background-color: darkcyan;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

            .styled-table tbody tr:nth-of-type(even) {
                background-color: antiquewhite;
            }

            .styled-table tbody tr:last-of-type {
                border-bottom: 2px solid #009879;
            }
</style>
<body>
    <div align="center">
        <h1>@ViewData["Title"]</h1>
        <table border="1" class="styled-table">
            <thead>
                <tr>
                    <td>AgentId</td>
                    <td>ClientId</td>
                    <td>registeredAt</td>
                    <td>start</td>
                    <td>finish</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var policy in Model)
                {
                    <tr>
                        <td>@policy.AgentId</td>
                        <td>@policy.ClientId</td>
                        <td>@policy.RegistredAt</td>
                        <td>@policy.Start</td>
                        <td>@policy.Finish</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

